<div class="container mx-auto text-center pb-10">
  <h1 class="font-bold text-4xl my-6">ユーザー情報編集</h1>
  <div class="p-2 mb-3 max-w-sm mx-auto bg-cyan-600 rounded-md">
    <%= form_with model: @user, url: profile_path, method: :put do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="mb-3">
        <%= f.label :name, class: "block" %>
        <%= f.text_field :name, class: "mt-1" %>
      </div>
    
      <div class='mb-3'>
        <%= f.label :email, class: "block"  %>
        <%= f.email_field :email, class: "mt-1" %>
      </div>

      <div class='mb-3'>
        <%= f.label :avatar_image, class: "block"  %>
        <%= f.file_field :avatar_image, id: 'avatar_image', class: "mt-1" %>
        <%= f.hidden_field :avatar_image_cache %>
      </div>

      <!-- アバタープレビュー　-->
      <div class="mb-3 flex justify-center ">
        <%= image_tag @user.avatar_image.url, id: 'preview', class: "rounded-full h-32 w-32 object-cover"%>
      </div>
    </div>
  
    <%= f.submit "更新", class: "inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out" %>
  <% end %>
</div>
