<div class="container mx-auto text-center pb-10">
  <h1 class="font-bold text-4xl my-6">ユーザー詳細</h1>
  <div class="p-2 mb-3 max-w-sm mx-auto bg-cyan-600 rounded-md">
    <div class="md-3">
      <%= @user.name %>
    </div>
    <div class="md-3">
      <%= @user.email %>
    </div>

    <!-- アバター画像 -->
    <div class="m-3 flex justify-center ">
      <% if @user.google_avatar_image.blank? %>
        <%= image_tag @user.avatar_image_url, class: "h-32 w-32 object-cove rounded-full object-cover" %>
      <% else %>
        <%= image_tag @user.google_avatar_image, class: "h-32 w-32 object-cove rounded-full object-cover" %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= link_to "ユーザー情報編集", edit_profile_path, class: "inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out" %>
  </div>

  <!-- 自分の診断履歴 -->
  <div class="mb-1">
    <h1 class="font-bold text-4xl">診断履歴</h1>
  </div>
  <div class="p-4 mb-2 bg-teal-500 rounded-md">
    <div class="mb-3 flex flex-wrap justify-center">
      <% if @diagnoses.present? %>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <%= render @diagnoses %>
        </div>
      <% else %>
        <div>掲示板がありません</div>
      <% end %>
    </div>
  </div>
</div>
