<% content_for(:title, t('.title')) %>
<div class="max-w-screen-md mx-auto text-center justify-center">
  <h1 class="font-bold text-4xl my-3"><%= t('.title') %></h1>
  
  <div class="p-4 m-2 max-w-sm mx-auto bg-stone-300 rounded-md border-2 border-black">
    <%= form_with model: @user, url: password_reset_path(@token), method: :patch do |f| %>
      <%= render "shared/error_messages", object: f.object %>
    
      <div class='mb-3'>
        <%= f.label :password, class: "block"  %>
        <%= f.password_field :password, class: "w-full mt-1" %>
      </div>

      <div class='mb-3'>
        <%= f.label :password_confirmation, class: "block"  %>
        <%= f.password_field :password_confirmation, class: "w-full mt-1" %>
      </div>

      <%= f.submit t('.submit'), class: "inline-block bg-emerald-100 hover:bg-emerald-300 text-black font-bold text-1xl mb-3 py-2 px-4 rounded transition duration-150 ease-in-out border border-black" %>
    <% end %>
  </div>
</div>
