<div class="container max-w-sm p-5 m-2 shadow-lg shadow-cyan-900/80 bg-cyan-600 hover:bg-cyan-500 rounded-md transition duration-300">
    <div class="my-3">
        <div class="mb-3 flex justify-center">
            <% if diagnosis.desk_image? %>
                <%= image_tag diagnosis.desk_image.url%>
            <% end %>
        </div>

        <div class="mb-3">
            <%= link_to "【診断結果を見る・・・】", diagnosis_path(diagnosis), class: "underline underline-offset-2 text-2xl mb-1" %>
            <div class="mt-2 ">
                <%= "主なデスク作業：『#{diagnosis.desk_work}』"%>
            </div>
        </div>

        <!-- タグ表示 -->
        <div class="mb-3 flex flex-wrap justify-center">
            <% diagnosis.tags.each do |tag| %>
                <div class="px-2">
                    <%= link_to tag.tag_name, "#", class: "rounded px-2 bg-amber-100 hover:bg-amber-500 transition duration-150 ease-in-out" %>
                </div>
            <% end %>
        </div>

        <hr class="border-1 bg-cyan-400 my-4">

        <div class="flex justify-center">
            <div class="px-4">
                <% if diagnosis.user.google_avatar_image.blank? %>
                    <%= image_tag diagnosis.user.avatar_image_url, class: "h-10 w-10 object-cove rounded-full" %>
                <% else %>
                    <%= image_tag diagnosis.user.google_avatar_image, class: "h-10 w-10 object-cove rounded-full" %>
                <% end %>
            </div>
            <div class="mb-3 flex flex-col">
                <%= diagnosis.user.name %><br>
                <%= l diagnosis.created_at, format: :long %>
            </div>
        </div>

        <% if current_user&.own?(diagnosis) %>
            <div class="inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out">
                <%= link_to "削除する", diagnosis_path(diagnosis), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"}%>
            </div>
        <% else %>
            <div>
                <% if current_user.favorite?(diagnosis) %>
                    <%= render 'unfavorite', diagnosis: diagnosis %>
                <% else %>
                    <%= render 'favorite', diagnosis: diagnosis %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>