<div class="max-w-sm shadow-lg p-1 shadow-stone-800/80 bg-slate-300 hover:bg-emerald-100 rounded-md transition duration-300 border border-black">
    <div class="mb-1">
        <div class="mb-3 flex justify-center rounded-md">
            <%= image_tag diagnosis.desk_image.index.url%>
        </div>

        <!-- 作業内容 -->
        <div class="mb-1">
            <h1><%= link_to t('diagnoses.diagnosis.title'), diagnosis_path(diagnosis), class: "font-bold underline underline-offset-2 text-2xl mb-1" %></h1>
            <div class="mt-2">
                <%= t('diagnoses.diagnosis.desk_work') %>
            </div>
            <div class="font-bold"><%="『#{diagnosis.desk_work}』"%></div>
        </div>

        <hr class="border border-stone-400 mb-2 mx-5">

        <!-- 作業区分・作業環境 -->
        <% if diagnosis.place_id.present? %>
            <div class="mb-1 flex justify-center">
                <div class="mb-1 font-bold rounded px-2 bg-teal-500 border border-black">
                    <%= Category.find_by(id: diagnosis.place.category_id).name %>
                </div>
                <div class="mx-2"><%= "|" %></div>
                <div class="mb-1 font-bold rounded px-2 bg-teal-500 border border-black">
                    <%= diagnosis.place.name %>
                </div>
            </div>
        <% end %>

        <hr class="border border-stone-400 mb-2 mx-5">

        <!-- アバター・ユーザー名・診断日時 -->
        <div class="flex justify-center items-center">
            <div class="px-4">
                <% if diagnosis.user.google_avatar_image.blank? %>
                    <%= image_tag diagnosis.user.avatar_image_url, class: "h-10 w-10 object-cove rounded-full" %>
                <% else %>
                    <%= image_tag diagnosis.user.google_avatar_image, class: "h-10 w-10 object-cove rounded-full" %>
                <% end %>
            </div> 
            <div class="pr-2 flex flex-col">
                <%= diagnosis.user.name %><br>
                <%= l diagnosis.created_at, format: :long %>
            </div>
            
            <!-- 削除・お気に入りボタン -->
            <div class="pl-4">
                <% if current_user&.own?(diagnosis) %>
                    <div class="inline-block bg-stone-300 hover:bg-red-400 font-bold py-1 px-2 rounded transition duration-150 ease-in-out border-2 border-black">
                        <%= link_to diagnosis_path(diagnosis), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"}  do %>
                            <div><span class="material-icons">restore_from_trash</span></div>
                        <% end %>
                    </div>
                <% elsif current_user %>
                    <div class="inline-block bg-stone-100 hover:bg-sky-200 font-bold py-1 px-2 rounded transition duration-150 ease-in-out border-2 border-black">
                        <% if current_user.favorite?(diagnosis) %>
                            <%= render 'unfavorite', diagnosis: diagnosis %>
                        <% else %>
                            <%= render 'favorite', diagnosis: diagnosis %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>