<div class="container mx-auto  text-center w-3/4">
  <div class="mb-1 flex flex-col md:flex-row justify-around items-center bg-stone-100 rounded-md border-2 border-red-500">
    <div class="px-1 m-1">
      <%= image_tag 'danger.png', class: "w-32 h-32"%>
    </div>
    <div class="font-bold m-4">
      <p class="mb-1 text-red-500">※部外秘の情報等が映ってないか確認して下さい。</p>
      <p class="mb-1 text-red-500">（PC画面上・見積書・社外秘資料等・・・）</p>
    </div>
  </div>

  <%= form_with model: diagnosis, url: diagnosis_diagnoses_path, method: :post do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <div class="mb-3">
      <%= f.label :desk_image, t('diagnoses.new.desk_image'), class: "block " %>
      <%= f.file_field :desk_image, id: 'desk_image', class: "mt-1" %>
      <%= f.hidden_field :desk_image_cache %>
    </div>
  
    <!-- プレビュー -->
    <div class="mb-3 flex justify-center">
      <%= image_tag diagnosis.desk_image.url, id: 'preview', width: 500, height: 300, class:"rounded-md border border-black" %>
    </div>

    <!-- カテゴリー -->
    <div class="mb-3">
      <%= label_tag :category_id, t('diagnoses.new.category') %>
      <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name), prompt: '※ 選択してください', class: "form-select block w-full mt-1", id: "category_select" %>
    </div>

    <!-- デスク位置（オフィス） -->
    <div class="mb-3" id="office" style="display: none;">
      <%= f.label :place_id, t('diagnoses.new.desk_place') %>
      <%= f.collection_select :place_id, @office_places, :id, :name, {prompt: '※ 選択してください'}, {class: "form-select block w-full mt-1"} %>
    </div>

    <!-- デスク位置（在宅） -->
    <div class="mb-3" id="home" style="display: none;">
      <%= f.label :place_id, t('diagnoses.new.desk_place') %>
      <%= f.collection_select :place_id, @home_places, :id, :name, {prompt: '※ 選択してください'}, {class: "form-select block w-full mt-1"} %>
    </div>

    <!-- デスクワーク内容 -->
    <div class='mb-3'>
      <%= f.label :desk_work, t('diagnoses.new.desk_work') ,class: "block" %>
      <%= f.text_field :desk_work, class: "mt-1 w-3/4", placeholder: t('diagnoses.new.desk_work_sample') %>
    </div>

    <%= f.submit "診断する", class: "inline-block bg-amber-100 hover:bg-amber-500 text-black font-bold text-1xl mb-3 py-2 px-4 rounded-md transition duration-150 ease-in-out border border-black" %>
  <% end %>
</div>