<div class="container mx-auto  text-center w-3/4">
  <%= form_with model: diagnosis, local: true do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="mb-3">
      <%= f.label :desk_image, 'あなたのデスク環境の写真を選んで下さい', class: "block" %>
      <%= f.file_field :desk_image, id: 'desk_image', class: "mt-1" %>
      <%= f.hidden_field :desk_image_cache %>
    </div>
  
    <!-- プレビューを表示 -->
    <div class="mb-3 flex justify-center">
      <%= image_tag diagnosis.desk_image.url, id: 'preview', width: 500, height: 300, class:"rounded-md" %>
    </div>

    <!-- タグのセレクトボックスを追加 -->
    <div class="mb-3">
      <%= f.label :tag_ids, 'デスクの作業場を選択して下さい。' %>
        <div class="mb-3 p-4 bg-white rounded flex flex-wrap justify-around">
          <% @tag_list.each do |name, id| %>
            <div class="mb-1">
              <%= f.radio_button :tag_ids, id, class: "form-radio" %>
              <%= f.label :tag_ids, name, value: id, class: "ml-2" %>
            </div>
          <% end %>
        </div>
    </div>

    <!-- デスクワーク内容 -->
    <div class='mb-3'>
      <%= f.label :desk_work, 'デスクでの主な作業内容を教えて下さい。/（例：プログラミング学習。見積作成。等)' ,class: "block" %>
      <%= f.text_field :desk_work, class: "mt-1 w-3/4" %>
    </div>

    <%= f.submit "診断する", class: "inline-block bg-amber-100 hover:bg-amber-500 text-black font-bold text-1xl mb-3 py-2 px-4 rounded-md transition duration-150 ease-in-out" %>
  <% end %>
</div>