<div class="container mx-auto text-center justify-center">
  <div class="flex flex-col">
    <div class="mb-1">
      <h1 class="font-bold text-4xl"><%= t('.title') %></h1>
    </div>

    <!-- タグ別検索フォーム -->

      <!-- グラフ -->
      <%= render "shared/graph" %>
    </div>
  </div>

  <div class="p-4 mb-2 bg-teal-500 rounded-md">
    <div class="mb-3 flex flex-wrap justify-center">
      <% if @favorite_diagnoses.present? %>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <%= render partial: "diagnosis", collection: @favorite_diagnoses %>
        </div>
      <% else %>
        <div><%= t('.not_result') %></div>
      <% end %>
    </div>
    <%= paginate @favorite_diagnoses, theme: 'diagnoses' %>
  </div>
</div>
