<div class="container mx-auto text-center justify-center">
  <div class="flex flex-col">
    <div class="mb-1">
      <h1 class="font-bold text-4xl "><%= t('.title') %></h1>
    </div>

  <!-- グラフ -->
  <div class="container mb-2 w-full flex flex-col xl:flex-row justify-cente">
    <%= render "shared/graph" %>
  </div>

  <!-- 検索フォーム -->
  <div class="container font-boldmb-3 mb-3 py-1 px-2 flex flex-col sm:flex-row justify-around  bg-stone-300 rounded-md border-2 border-black">
    <%= render "search_form", q: @q, url: favorites_diagnoses_path %>
  </div>

  <!-- お気に入り診断一覧 -->
  <div class="p-4 mb-2 bg-stone-300 rounded-md border-2 border-black">
    <div class="mb-3 flex flex-wrap justify-center">
      <% if @favorite_diagnoses.present? %>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <%= render partial: "diagnosis", collection: @favorite_diagnoses %>
        </div>
      <% else %>
        <div><%= t('.not_result') %></div>
      <% end %>
    </div>
    <%= paginate @favorite_diagnoses, theme: 'diagnoses' %>
  </div>
</div>
