<div class="container mx-auto text-center justify-center">
  <div class="flex flex-col">
    <!-- タグ別検索フォーム -->
    <div class="p-2 my-4 bg-teal-600 rounded-md">
      <div class="flex justify-around">
        <%= "【検索フォーム】"%>
        <% Tag.all.each do |tag| %>
          <%= link_to tag.tag_name, tagged_diagnoses_path(tag_name: tag.tag_name), class: "rounded px-2 bg-amber-100 hover:bg-amber-500 transition duration-150 ease-in-out" %>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <h1 class="font-bold text-4xl">デスク診断投稿一覧</h1>
    </div>

    <!-- グラフ -->
    <%= render "shared/graph" %>
  </div>

  <div class="p-4 m-2 bg-teal-500 rounded-md">
    <div class="mb-3 flex flex-wrap justify-center">
      <% if @diagnoses.present? %>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <%= render @diagnoses %>
        </div>
      <% else %>
        <div>掲示板がありません</div>
      <% end %>
    </div>
    <%= paginate @diagnoses, theme: 'diagnoses' %>
  </>
</div>
