<div class="mx-auto  text-center mt-5">
  <div class="mb-3 flex justify-center">
    <%= image_tag @diagnosis.desk_image.url%>
  </div>

  <div class="mb-3 flex flex-col">
   <h2 class= "text-2xl mb-1">【診断結果】</h2>
   <%= @diagnosis.color_info %>
  </div>
  <div class="mb-3">
    <%= link_to "SNSにシェア", "#", class: "inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out" %>
  </div>
  
  <% if current_user.own?(@diagnosis) %>
      <div class="mb-3 inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out">
        <%= link_to "削除する", diagnosis_path(@diagnosis), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"}%>
    </div>
  <% end %>

  <div class="mb-3">
    <%= link_to "投稿されたデスク環境一覧はこちら", diagnoses_path, class: "inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out"%>
  </div>
</div>