<div class="mx-auto  text-center">
  <h1 class="font-bold text-4xl my-6">ユーザー新規登録</h1>
  
  <%= form_with model: @user do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="mb-3">
      <%= f.label :name, class: "block" %>
      <%= f.text_field :name, class: "mt-1" %>
    </div>
  
    <div class='mb-3'>
      <%= f.label :email, class: "block"  %>
      <%= f.email_field :email, class: "mt-1" %>
    </div>
  
    <div class='mb-3'>
      <%= f.label :password, class: "block"  %>
      <%= f.password_field :password, class: "mt-1" %>
    </div>
  
    <div class='mb-3'>
      <%= f.label :password_confirmation, class: "block"  %>
      <%= f.password_field :password_confirmation, class: "mt-1" %>
    </div>
      
    <div class='mb-3'>
      <%= f.label :avater_image, class: "block"  %>
      <%= f.file_field :avater_image, class: "mt-1" %>
    </div>
  
    <%= f.submit "新規登録", class: "inline-block bg-amber-100 hover:bg-amber-500 text-black font-bold text-1xl mb-3 py-2 px-4 rounded transition duration-150 ease-in-out" %>
  <% end %>
  
  <div>
    <%= link_to "ログインはこちら", login_path, class: "inline-block bg-amber-100 hover:bg-amber-500 text-black font-bold text-1xl mb-3 py-2 px-4 rounded transition duration-150 ease-in-out" %>
  </div>
</div>
