<header class="fixed top-0 w-full z-10 bg-teal-600" >
  <nav class="navbar py-2 px-2 flex justify-between items-center shadow-lg shadow-cyan-600/70">
    <div class="font-bold text-3xl">
      <%= link_to 'From Desk Color', "/" %>
    </div>

    <div class="flex items-center">
        <%= link_to t('header.diagnosis_create'), new_diagnosis_path, class: "inline-block bg-amber-100 hover:bg-amber-400 font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out" %>
        <%= link_to t('header.diagnosis_index'), diagnoses_path, class: "inline-block bg-amber-100 hover:bg-amber-400 shadow-lg font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out" %>
        <%= link_to t('header.favorite_diagnoses'), favorites_diagnoses_path, class: "inline-block bg-amber-100 hover:bg-amber-400 shadow-lg font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out" %>
        <%= link_to t('header.profile'), profile_path, class: "inline-block bg-amber-100 hover:bg-amber-400 shadow-lg font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out" %>
        <%= link_to t('header.logout'), logout_path , class: "inline-block bg-amber-100 hover:bg-amber-400 shadow-lg font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out", data: { turbo_method: :delete } %>
    </div>
  </nav>
</header>
