<header class="fixed top-0 w-full z-10 bg-white" >
  <nav class="navbar py-2 px-2 flex justify-between items-center shadow-lg shadow-cyan-600/70">
    <div class="font-bold text-3xl">
      <h1><%= link_to t('header.title'), "/" %></h1>
    </div>
    
    <div class="relative inline-block text-left">
      <div class="flex items-center">
        <div>
          <button type="button" 
                  class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-gray-200 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-teal-300" 
                  id="menu-button" 
                  aria-expanded="true" 
                  aria-haspopup="true">
            <span class="material-icons">reorder</span>
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
        

        <div class="ml-2">
          <% if current_user.google_avatar_image.blank? %>
            <%= image_tag current_user.avatar_image_url, class: "h-10 w-10 object-cove rounded-full object-cover" %>
          <% else %>
            <%= image_tag current_user.google_avatar_image, class: "h-10 w-10 object-cove rounded-full object-cover" %>
          <% end %>
        </div>
      </div>

      <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <%= link_to new_diagnosis_path, class: "flex items-center text-gray-700 px-4 py-2 text-sm hover:bg-teal-200 transition duration-150 ease-in-out", role: "menuitem", tabindex: "-1", id: "menu-item-0" do %>
            <span class="material-icons mr-2">visibility</span>
            <%= t('header.diagnosis') %>
          <% end %>
        </div>
        <div class="py-1" role="none">
          <%= link_to diagnoses_path, class: "flex items-center text-gray-700 block px-4 py-2 text-sm hover:bg-teal-200 transition duration-150 ease-in-out", role: "menuitem", tabindex: "-1", id: "menu-item-0" do %>
            <span class="material-icons mr-2">leaderboard</span>
            <%= t('header.diagnosis_index') %>
          <% end %>
        </div>
        <div class="py-1" role="none">
          <%= link_to favorites_diagnoses_path, class: "flex items-center text-gray-700 block px-4 py-2 text-sm hover:bg-teal-200 transition duration-150 ease-in-out", role: "menuitem", tabindex: "-1", id: "menu-item-0" do %>
            <span class="material-icons mr-2">thumb_up_off_alt</span>
            <%= t('header.favorite_diagnoses') %>
          <% end %>
        </div>
        <div class="py-1" role="none">
          <%= link_to profile_path, class: "flex items-center text-gray-700 block px-4 py-2 text-sm hover:bg-teal-200 transition duration-150 ease-in-out", role: "menuitem", tabindex: "-1", id: "menu-item-0" do %>
            <span class="material-icons mr-2">manage_accounts</span>
            <%= t('header.profile') %>
          <% end %>
        </div>
        <div class="py-1" role="none">
          <%= link_to logout_path, class: "flex items-center text-gray-700 block px-4 py-2 text-sm hover:bg-teal-200 transition duration-150 ease-in-out", role: "menuitem", tabindex: "-1", id: "menu-item-0", data: { turbo_method: :delete } do %>
            <span class="material-icons mr-2">logout</span>
            <%= t('header.logout') %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
