<div class="container max-w-sm p-1 shadow-lg shadow-stone-800/80 bg-slate-300 hover:bg-emerald-100 rounded-md transition duration-300">
    <div class="my-1">
        <div class="mb-3 flex justify-center rounded-md">
            <%= image_tag item.item_image.url%>
        </div>

        <div class="mb-2">
            <%= link_to item.title, item_path(item), class: "font-bold underline underline-offset-2 text-1xl mb-1" %></h1>
        </div>

        <hr class="border border-stone-400 mb-1 mx-5">

        <!-- 色分類 -->
        <div class="mb-1">
            <div class="m-1 p-1">
                <% item.colors.each do |color| %>
                    <div class="px-1 mx-14 mb-1 rounded-md  <%= button_color(color.name) %>" >
                        <%= color.name %>
                    </div>
                <% end %>
            </div>
        </div>

        <hr class="border border-stone-400 mb-2 mx-5">

        <!-- アバター・ユーザー名・診断日時 -->
        <div class="flex justify-center items-center">
            <div class="px-4">
                <% if item.user.google_avatar_image.blank? %>
                    <%= image_tag item.user.avatar_image_url, class: "h-10 w-10 object-cove rounded-full" %>
                <% else %>
                    <%= image_tag item.user.google_avatar_image, class: "h-10 w-10 object-cove rounded-full" %>
                <% end %>
            </div>
            <div class="pr-2 flex flex-col">
                <%= item.user.name %><br>
                <%= l item.created_at, format: :long %>
            </div>

        <!-- 削除・お気に入りボタン -->
            <div class="pl-4">
                <% if current_user&.own?(item) %>
                    <div class="inline-block bg-stone-300 hover:bg-red-500 font-bold py-1 px-2 rounded transition duration-150 ease-in-out border-2 border-black">
                        <%= link_to item_path(item), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"}  do %>
                            <div><span class="material-icons">restore_from_trash</span></div>
                            <%= t('items.item.delete') %>
                        <% end %>
                    </div>
                <% elsif current_user %>
                    <div>
                        <% if current_user.bookmark?(item) %>
                            <%= render 'unbookmark', item: item %>
                        <% else %>
                            <%= render 'bookmark', item: item %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>