<div class="container mx-auto text-center">
  <div class="mb-2">
    <div class="mb-1 font-bold text-2xl sm:text-3xl md:text-4xl">
      <h1><%= t('.title') %></h1>
    </div>
  </div>

  <!-- 検索フォーム -->
  <div class="mx-auto font-boldmb-3 my-3 px-3">
    <%= render "search_form", q: @q, url: items_path %>
  </div>

  <hr class="border border-stone-300 my-4">

  <!-- 診断一覧 -->
  <div class="mb-2">
    <div class="mb-3 flex flex-wrap flex-col sm:flex-row justify-center">
      <% if @items.present? %>
        <div class="mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <%= render @items %>
        </div>
      <% else %>
        <div><%= t('.not_result') %></div>
      <% end %>
    </div>
    <%= paginate @items, theme: 'diagnoses' %>
  </div>
</div>
