<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= display_meta_tags(default_meta_tags) %>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <style>h1 {font-family: 'Zen Kurenaido', sans-serif;}</style>

    <!-- Google Analytics 設定 -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJ0J6T1ZKD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZJ0J6T1ZKD');
    </script>
  </head>

  <body>
    <div class="font-zenkure">
      <% if logged_in? %>
        <%= render "shared/header" %>
      <% else %>
        <%= render "shared/before_login_header" %>
      <% end %>
      <div class="pb-2 pt-12">
        <%= render "shared/flash_message" %>
        <%= yield %>
      </div>
        <hr class="border border-stone-300 my-2">
        <%= render "shared/footer" %>
    </div>
  </body>
</html>
